body{
  overflow-x: hidden;
  font-family: $ff-default;
}

a{
  outline: none !important;
  text-decoration: none !important;
  @extend .trans;

  &:hover{
    opacity: 0.8;
  }

}

.content-site {
  padding: 50px 0;
}

.hidden{
  display: none !important;
}