$c-black: #000000;
$c-white: #ffffff;
$c-pink: #f27bfa;
$c-green: #4bbf5a;

/* Menu Variables */
$color-link: #FFF;
$button-height: 27px;
$button-width: 35px;

/* background-colors */
.bg-black{
  background-color: $c-black;
}

.bg-pink{
  background-color: $c-pink;
}

/* Font Colors */
.c-white{
  color: $c-white;
}

.c-black{
  color: $c-black;
}

.c-pink{
  color: $c-pink;
}

.c-green{
  color: $c-green;
}