/* Menu Variables */
/* background-colors */
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
.bg-black {
  background-color: #000000; }

.bg-pink {
  background-color: #f27bfa; }

.bg-white {
  background-color: #ffffff; }

/* Font Colors */
.c-white {
  color: #ffffff; }

.c-black {
  color: #000000; }

.c-pink {
  color: #f27bfa; }

.c-green {
  color: #4bbf5a; }

/* Responsive Variables */
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

/* implements */
.trans, a {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.link-underline {
  position: relative;
  display: inline-block; }
  .link-underline:after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #4bbf5a;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out; }
  .link-underline:hover:after {
    visibility: visible;
    transform: scaleX(1); }

.icon {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out; }
  .icon:hover {
    opacity: 0.7; }

.icon-cart {
  height: 32px !important; }

.banner-home {
  position: relative;
  width: 100%; }
  .banner-home .logo {
    position: absolute;
    z-index: 99;
    margin: 30px;
    width: 250px; }

.menu-top .logo-fix {
  padding: 0;
  display: block; }

.menu-top .logo-fix-img {
  height: 60px; }

.top-bar .icon-ig {
  color: #f27bfa;
  display: block;
  margin: 6px 0 0 10px; }
  .top-bar .icon-ig i {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    background-color: #4bbf5a;
    padding: 4px 5px;
    font-size: 20px; }

.cart-link {
  text-align: right;
  display: inline-block;
  right: 0;
  float: right;
  padding-top: 12px; }

/* menu */
.button_container {
  position: relative;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
  margin: 16px 0; }
  .button_container:hover {
    opacity: .7; }
  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #ffffff; }
  .button_container.active .middle {
    opacity: 0;
    background: #ffffff; }
  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #ffffff; }
  .button_container span {
    background: #000000;
    border: none;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; }
    .button_container span:nth-of-type(2) {
      top: 11px; }
    .button_container span:nth-of-type(3) {
      top: 22px; }

.overlay {
  position: fixed;
  background: #000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden; }
  .overlay.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
    z-index: 1000; }
    .overlay.open li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      font-family: "Titillium Web", sans-serif; }
      .overlay.open li:nth-of-type(2) {
        animation-delay: .4s; }
      .overlay.open li:nth-of-type(3) {
        animation-delay: .45s; }
      .overlay.open li:nth-of-type(4) {
        animation-delay: .50s; }
    .overlay.open .button_container span {
      background-color: #ffffff; }
    .overlay.open .button_container.active {
      position: absolute;
      margin: 50px; }
  .overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    text-align: center; }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; }
    .overlay ul li {
      display: block;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0; }
      .overlay ul li a {
        display: block;
        position: relative;
        color: #ffffff;
        text-decoration: none;
        overflow: hidden; }
        .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
          width: 100%; }
        .overlay ul li a:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: #f27bfa;
          transition: .35s; }
        .overlay ul li a:hover {
          color: #f27bfa; }

.menu-top a {
  color: #4bbf5a;
  font-weight: 700; }

.menu-top:after {
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  background-color: #000000; }

.topo-text {
  text-align: right;
  padding: 8px 0;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  color: #ffffff; }

.cart-link {
  position: relative; }
  .cart-link .qty {
    position: absolute;
    background-color: #000000;
    color: #ffffff;
    padding: 1px 4px;
    font-size: 11px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    margin: -2px 0 0 -10px;
    z-index: 99; }

.menu-fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%; }
  .menu-fixed .button_container.active {
    z-index: 1001; }

/**
** @mediaqueries (responsive)
 */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 450px) {
  .topo-text {
    font-size: 12px;
    text-align: center; }
  .content-menu .button_container {
    margin: 10px auto;
    text-align: center; }
  .content-cart .cart-link {
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding-top: 3px; }
  .overlay.open .button_container.active {
    margin: 20px; } }

#page-home {
  min-height: 800px; }

.list-products {
  margin: 0; }
  .list-products li.product-item {
    margin: 0 0 20px 0; }
    .list-products li.product-item .title-product {
      display: block;
      height: 65px; }

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  #wds_container1_0 #wds_container2_0 .wds_left-ico_0,
  #wds_container1_0 #wds_container2_0 .wds_right-ico_0 {
    font-size: 100px; }
  #wds_container1_0 #wds_container2_0 .wds_left_btn_cont,
  #wds_container1_0 #wds_container2_0 .wds_right_btn_cont {
    font-size: 100px !important; } }

.wrapper-footer {
  background-color: #000000;
  padding: 10px 0; }

/**
** @mediaqueries (responsive)
 */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 450px) {
  .footer-copyfight {
    font-size: 12px; } }

@media (min-width: 451px) {
  .footer-copyfight {
    font-size: 14px; } }

::-webkit-scrollbar {
  width: 0.8em;
  height: 0.8em; }

::-webkit-scrollbar-thumb {
  background: #000000;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important; }

::-webkit-scrollbar-track {
  background: #f2f2f2;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important; }

body {
  overflow-x: hidden;
  font-family: "Titillium Web", sans-serif;
  scrollbar-face-color: #000000;
  scrollbar-track-color: #f2f2f2; }

a {
  outline: none !important;
  text-decoration: none !important; }
  a:hover {
    opacity: 0.8; }

.content-site {
  padding: 50px 0; }

.hidden {
  display: none !important; }

.content-page {
  margin-top: 130px; }

/*# sourceMappingURL=tbbc.css.map */